/* @font-face {
    font-family: 'pizza_font';
    src: url('hotpizza-webfont.woff2') format('woff2'),
         url('hotpizza-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
body {
	background: grey;
}
#search-bar {
	margin-left: 50px;
}
#search-input { 
    background-color: white;
    margin-bottom: 50px;
}

#search-button {
    margin-top:50px;
}
#title {
	font-family: 'pizza_font';
	color: white;
	font-size: 60px;
	text-align: center;
}
.search_label {
	color: white;
	font-size: 20px;
	margin-left: 50px;

}
#search {
	margin-left: 150px;
	margin-bottom: 50px;
}
.container {
	text-align: center;
	display: block;
}
#yelp-search {
	margin-left: 50px;
}
#images-recipe {
	text-align: center;

}
#box {
	display: block;
	width: 25%;
	float: left;
}
#box2 {
	display: block;
}
#images-recipe {
	text-align: left;
	height: 150px;
	width: 150px;
}
#ingredients {
	text-align: right;
}
#yelp_img {
	height: 60px;
	width: 40%;
}
#footer {
	height:60px;
}
.fixed-bottom {
	position: center;
}